body {
    /*margin-left:0;*/
    /*margin-right:0;*/
    /*margin-bottom:0;*/
    margin: 0;
    padding: 0;
}
div {
    outline: 1px solid #000; /* Чёрная рамка */
    /*margin: 0;*/
    /*padding: 0;*/
}
p {
    /*padding: 0px;*/
    /*line-height: 0.9em;*/
    margin: 0;
    padding: 0;
}
p.center {
    text-align: center;
}
.green {
    color: #82c12b;
    font-size: 20px;
    font-weight: bold;
}
.speed {
    color: white;
    background: blue;
    width: 120px;
    text-align: center;
}
/*a.next {*/
    /*background: url(../image/next.png);*/
    /*display: block;*/
    /*width: 14px;*/
    /*height: 24px;*/
/*}*/
/*.next {*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*background: #fff url(../image/next.png) no-repeat 50% 50%;*/
/*}*/
#shift {
    padding: 20px 0px 0 0px;
    color: #353535;
    background: #f3f3f3;
    position: relative;
    width: 100%;
    /*border-top: solid 1px #e3e3e3;*/
    box-shadow: inset 0px 0px 0px 1px #fff;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}
#shiftbig {
    padding: 40px 0px 0 0px;
    color: #353535;
    background: #f3f3f3;
    position: relative;
    width: 100%;
    /*border-top: solid 1px #e3e3e3;*/
    box-shadow: inset 0px 0px 0px 1px #fff;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}
button {
    outline: 1px solid #000; /* Чёрная рамка */
    width: 50px;
    background: white;
    /*height: 50px;*/
    /*display: inherit;*/
    position: absolute;
    right: 0;
    top: 50%;
    /*align-items: center;*/
    border: 1px solid white;
    /*margin-right: 0px;*/
    /*margin: 0 auto;*/
}
button.back {
    left: 0;
}
button.next {
    right: 50px;
}
